In [15]:
import datacube
import numpy as np
import pandas as pd
import xarray as xr
import geopandas as gpd

In [16]:
csv = 'Library/DUNHAM_DPDQ.csv'
df = pd.read_csv(csv, nrows=3, escapechar='#')
column2 = list(df)[1]
gauge_number_df = df.rename(columns = {column2 : 'gauge_ID'})
ID_str = gauge_number_df.at[0, 'gauge_ID']
ID_str

'DPD.Q'

In [17]:
df

            Station Long Name DUNHAM PILOT DAM  Unnamed: 2  Unnamed: 3
0              Station Number            DPD.Q         NaN         NaN
1   Station Location Latitude       -16.032589         NaN         NaN
2  Station Location Longitude       128.363891         NaN         NaN

In [18]:
data = pd.read_csv(csv, error_bad_lines = False, skiprows=9, escapechar='#',
                     parse_dates=['Timestamp'], 
                     index_col=('Timestamp'),
                    date_parser=lambda x: pd.to_datetime(x.rsplit('+', 1)[0]))
gauge_data = data.drop(columns=['Quality Code', 'Interpolation Type'])
gauge_data

             Value
Timestamp
2013-01-10  99.134
2013-04-10  99.104
2013-07-10  99.064
2013-09-10  99.064
2013-11-10  99.054
...            ...
2019-12-13  92.771
2019-12-16  92.677
2019-12-19  92.616
2019-12-23  92.536
2019-12-25  92.525

[975 rows x 1 columns]

In [30]:
#generate full date range
dates = pd.date_range(start='2013-01-10', end='2019-12-25', freq='d')
dates

DatetimeIndex(['2013-01-10', '2013-01-11', '2013-01-12', '2013-01-13',
               '2013-01-14', '2013-01-15', '2013-01-16', '2013-01-17',
               '2013-01-18', '2013-01-19',
               ...
               '2019-12-16', '2019-12-17', '2019-12-18', '2019-12-19',
               '2019-12-20', '2019-12-21', '2019-12-22', '2019-12-23',
               '2019-12-24', '2019-12-25'],
              dtype='datetime64[ns]', length=2541, freq='D')

In [31]:
gauge_data2 = gauge_data.reindex(dates)

In [32]:
gauge_data2['Value'] = gauge_data2['Value'].interpolate()

In [33]:
gauge_data2

                Value
2013-01-10  99.134000
2013-01-11  99.113939
2013-01-12  99.093879
2013-01-13  99.073818
2013-01-14  99.053758
...               ...
2019-12-21  92.576000
2019-12-22  92.556000
2019-12-23  92.536000
2019-12-24  92.530500
2019-12-25  92.525000

[2541 rows x 1 columns]

In [34]:
gauge_data2.to_csv('DUNHAM_DPDQ.csv')