In [10]:
#imports
import sys
import os
import xarray as xr
import numpy as np
import pandas as pd
import geopandas as gpd
import csv
#import glob    #This one lets you read all the csv files in a directory
import rasterio.crs
from tqdm.auto import tqdm #this one is a loading bar, it's cool to add loading bars to loops
from pandas import DataFrame
import geopandas as gpd
import matplotlib.gridspec as gs
import matplotlib.pyplot as plt
from matplotlib import pyplot

In [ ]:
#make a list of the file names so we can call them with pandas
file_list = []

directory = 'corrected_dataframes'
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        file_list.append(os.path.join(directory, filename))

In [ ]:
dfs = []
for filename in file_list:
    dfs.append(pd.read_csv(filename))

big_frame = pd.concat(dfs, ignore_index=True)

In [ ]:
big_frame

In [ ]:
big_frame.to_csv('extrapolated_depth_to_surface.csv')

In [2]:
file_list = []

directory = '00_Library'
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        file_list.append(os.path.join(directory, filename))

In [ ]:
test = file_list[1]

In [ ]:
test[11:-4]

In [ ]:
name_list = []
for name in file_list:
    name_list.append(name[11:-4])
    
name_list[1]

In [3]:
ID_list = []
#let's use tqdm again to make a progress bar. The bar is so cool I love this module
for i in tqdm(file_list, total=len(file_list)):
    df = pd.read_csv(i, nrows=1, escapechar='#')
    column = df.iloc[:,[1]] #This is the column with the ID in it
    ID = list(column)
    ID = ID[0]
    ID = df.at[0, ID]
    ID_list.append(str(ID))
ID_list[1]

  0%|          | 0/178 [00:00<?, ?it/s]

'604.1'

In [4]:
len(ID_list)

178

In [7]:
df = pd.DataFrame(ID_list)
df

                       0
0    ODSS_18335_WSLAHD.1
1                  604.1
2                136115A
3           BARKERSCREEK
4              sp-o10350
..                   ...
173                 M350
174               410853
175            sp-o10438
176                 M316
177               410543

[178 rows x 1 columns]

In [9]:
df.to_csv('ID_list.csv')

In [33]:
gdf = gpd.read_file('00_Library_reservois/00_Library_reservois.shp')
gdf = gdf.set_index('NAME')
df = gdf.drop(columns='geometry')
df

,gauge_ID,staion_nam,lat,lon
NAME,,,,
LAKE TAYLOR,TAYLORS,Taylors Lake,-36.783437,142.383614
UPPER STONY CREEK RESERVOIR,RE604,Upper Stony,-37.818353,144.203635
LAKE EILDON,sp-o10334,EILDON,-37.162231,145.965819
LAKE MENINDEE,425022,LAKE MENINDEE,-32.342074,142.328469
WARANGA BASIN,sp-o11534,WARANGA BASIN,-36.555218,145.096791
...,...,...,...,...
NED CHURCHWARD WEIR,136023A,Ned Churchward HW,-25.083942,152.026595
BEN ANDERSON BARRAGE,136020A,Ben Anderson Barrage,-24.927564,152.231507
CLAUDE WHARTON WEIR,136003C,Claude Wharton HW,-25.617167,151.559284
MARIAN WEIR,125008A,Mirani Weir HW,-21.146641,148.885758
MIRANI WEIR,125008A,Mirani Weir HW,-21.202198,148.819760

In [34]:
df.to_csv('00_lib_ID_gauges.csv')

In [29]:
gdf2 = gpd.read_file('Named_Reservoirs/Named_Reservoirs.shp')
gdf2 = gdf2.set_index('NAME')

In [36]:
df2 = gdf2.drop(columns='geometry')
df2

,SHAPE_Leng,SHAPE_Area,Area_calc,lat,lon
NAME,,,,,
WILSON RESERVOIR,0.034915,0.000028,270561.736,-37.510018,144.018549
SUGARLOAF RESERVOIR,0.212903,0.000438,4284887.270,-37.672015,145.305467
GREEN LAKE,0.155045,0.000715,7111145.660,-36.435338,144.834187
LAKE TAYLOR,0.244253,0.000490,4853573.620,-36.783437,142.383614
UPPER STONY CREEK RESERVOIR,0.059762,0.000051,500287.353,-37.818353,144.203635
...,...,...,...,...,...
KIRAR WEIR,0.257613,0.000240,2681688.020,-25.299279,151.063109
MARIAN WEIR,0.266732,0.000134,1544632.180,-21.146641,148.885758
MARY BARRAGE,0.192548,0.000115,1283147.610,-25.627152,152.613932
TINANA BARRAGE,0.034002,0.000012,129235.966,-25.571684,152.713346
MIRANI WEIR,0.146221,0.000062,718352.846,-21.202198,148.819760

In [37]:
df2.to_csv('area_calc.csv')

In [26]:
gdf3 = gdf2.append(gdf['gauge_ID'])
gdf3

ValueError: cannot reindex from a duplicate axis