In [10]:
#imports
import sys
import os
import xarray as xr
import numpy as np
import pandas as pd
import geopandas as gpd
import csv
#import glob    #This one lets you read all the csv files in a directory
import rasterio.crs
from tqdm.auto import tqdm #this one is a loading bar, it's cool to add loading bars to loops
from pandas import DataFrame
import geopandas as gpd
import matplotlib.gridspec as gs
import matplotlib.pyplot as plt
from matplotlib import pyplot

In [ ]:
#make a list of the file names so we can call them with pandas
file_list = []

directory = 'corrected_dataframes'
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        file_list.append(os.path.join(directory, filename))

In [ ]:
dfs = []
for filename in file_list:
    dfs.append(pd.read_csv(filename))

big_frame = pd.concat(dfs, ignore_index=True)

In [ ]:
big_frame

In [ ]:
big_frame.to_csv('extrapolated_depth_to_surface.csv')

In [2]:
file_list = []

directory = '00_Library'
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        file_list.append(os.path.join(directory, filename))

In [ ]:
test = file_list[1]

In [ ]:
test[11:-4]

In [ ]:
name_list = []
for name in file_list:
    name_list.append(name[11:-4])
    
name_list[1]

In [3]:
ID_list = []
#let's use tqdm again to make a progress bar. The bar is so cool I love this module
for i in tqdm(file_list, total=len(file_list)):
    df = pd.read_csv(i, nrows=1, escapechar='#')
    column = df.iloc[:,[1]] #This is the column with the ID in it
    ID = list(column)
    ID = ID[0]
    ID = df.at[0, ID]
    ID_list.append(str(ID))
ID_list[1]

  0%|          | 0/178 [00:00<?, ?it/s]

'604.1'

In [4]:
len(ID_list)

178

In [7]:
df = pd.DataFrame(ID_list)
df

                       0
0    ODSS_18335_WSLAHD.1
1                  604.1
2                136115A
3           BARKERSCREEK
4              sp-o10350
..                   ...
173                 M350
174               410853
175            sp-o10438
176                 M316
177               410543

[178 rows x 1 columns]

In [9]:
df.to_csv('ID_list.csv')

In [11]:
gdf = gpd.read_file('00_Library_reservois/00_Library_reservois.shp')
gdf

,gauge_ID,NAME,staion_nam,lat,lon,geometry
0,TAYLORS,LAKE TAYLOR,Taylors Lake,-36.783437,142.383614,"POLYGON ((142.39295 -36.77087, 142.39255 -36.7..."
1,RE604,UPPER STONY CREEK RESERVOIR,Upper Stony,-37.818353,144.203635,"POLYGON ((144.21140 -37.81367, 144.21152 -37.8..."
2,sp-o10334,LAKE EILDON,EILDON,-37.162231,145.965819,"POLYGON ((145.90362 -37.00929, 145.90379 -37.0..."
3,425022,LAKE MENINDEE,LAKE MENINDEE,-32.342074,142.328469,"POLYGON ((142.35087 -32.28318, 142.35105 -32.2..."
4,sp-o11534,WARANGA BASIN,WARANGA BASIN,-36.555218,145.096791,"POLYGON ((145.15262 -36.53798, 145.15294 -36.5..."
...,...,...,...,...,...,...
148,136023A,NED CHURCHWARD WEIR,Ned Churchward HW,-25.083942,152.026595,"POLYGON ((151.99580 -25.18014, 151.99548 -25.1..."
149,136020A,BEN ANDERSON BARRAGE,Ben Anderson Barrage,-24.927564,152.231507,"POLYGON ((152.16701 -24.99459, 152.16765 -24.9..."
150,136003C,CLAUDE WHARTON WEIR,Claude Wharton HW,-25.617167,151.559284,"POLYGON ((151.52507 -25.62287, 151.52643 -25.6..."
151,125008A,MARIAN WEIR,Mirani Weir HW,-21.146641,148.885758,"POLYGON ((148.82987 -21.17723, 148.82926 -21.1..."
152,125008A,MIRANI WEIR,Mirani Weir HW,-21.202198,148.819760,"POLYGON ((148.82987 -21.17723, 148.82978 -21.1..."